// vars
@u:        8px;
@t:        300ms;
@hh:       80px;
@sm:       600px;
@md:       960px;
@primary:  rgb(63,81,181);
@accent:   rgb(255,64,129);
@warn:     rgb(244,67,54);
@success:  rgb(0,128,0);
@bg:       #DDD;
@lightest: #FFF;
@lighter:  #E2E2E2;
@neutral:  #AAA;
@darker:   #333;
@darkest:  #000;

@facebook: #3b5998;

* {
	box-sizing: border-box;
}
body {
	background-color: @lighter;
}
#main {
	overflow-y: auto;
}

table {
	border: solid 1px @darker;
	border-width: 1px 0 0 1px;
	border-spacing: 0;
	
	th,
	td {
		padding: 0;
		border: solid 1px @darker;
		border-width: 0 1px 1px 0;
		
		> * {
			padding: 1px 5px;
			margin: 0 !important;
		}
		.md-button {
			width: 100%;
			height: 100%;
			line-height: 1;
			text-transform: none;
			border-radius: 0;
			
			&[layout] {
				display: flex !important;
			}
		}
	}
	th {
		background-color: @neutral;
	}
}
.playoffs {
	td:last-child {
		big {
			display: inline-block;
			min-width: 35px;
			padding: 5px;
			border: dashed 1px @accent;
			border-radius: 50%;
		}
	}
}
.score {
	.add {
		opacity: .5;
	}
	.win {
		font-weight: bold;
	}
	.loss {
		opacity: .67;
	}
}

.align-center {
	text-align: center;
}