<div layout-gt-md="row">
	<md-card layout-padding>
		<form ng-submit="$scores.$add(score)">
			<ng-include src="'views/template/score.html'"></ng-include>
			<footer>
				<md-button type="submit" class="md-icon-button"><md-icon>add</md-icon></md-button>
			</footer>
		</form>
	</md-card>
	<md-card layout-padding>
		<div layout="column">
			<article ng-repeat="team in $teams" layout="row">
				<div flex ng-include="'views/template/team.html'"></div>
				<md-button ng-click="$teams.$save(team)" class="md-icon-button"><md-icon>save</md-icon></md-button>
			</article>
			<article ng-init="team = {}" layout="row">
				<div flex ng-include="'views/template/team.html'"></div>
				<md-button ng-click="$teams.$add(team); team = {};" class="md-icon-button"><md-icon>add</md-icon></md-button>
			</article>
		</div>
	</md-card>
	<md-card layout-padding>
		<div layout="column">
			<article ng-repeat="game in $games" layout="row">
				<div layout="row" flex ng-include="'views/template/game.html'"></div>
				<md-button ng-click="$games.$save(game)" class="md-icon-button"><md-icon>save</md-icon></md-button>
			</article>
			<article ng-init="game = {}" layout="row">
				<div layout="row" flex ng-include="'views/template/game.html'"></div>
				<md-button ng-click="$games.$add(game); game = {};" class="md-icon-button"><md-icon>add</md-icon></md-button>
			</article>
		</div>
	</md-card>
</div>