<section>
	<table layout-fill>
		<thead>
			<tr>
				<th>#</th>
				<th>Team</th>
				<th ng-repeat="game in $games" ng-bind="game.name"></th>
				<th>Points</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="team in $teams | orderBy:'-$score'" ng-class="{playoffs: $index < 4}">
				<td ng-bind="$index + 1" class="align-center"></td>
				<td ng-bind="team.name"></td>
				<td ng-repeat="game in $games">
					<div ng-repeat="score in getScores(team, game)" layout="column" layout-align="center center" class="score" ng-class="{win: points > 0, loss: points <= 0}">
						<big ng-bind="(points = getPoints(team, game, score)) | number:0"></big>
						<small ng-bind="getSpread(team, game, score) + ' vs. ' + getOpponent(team, score).name"></small>
					</div>
				</td>
				<td class="align-center">
					<big ng-bind="(team.$score = getPoints(team)) | number:0"></big>
				</td>
			</tr>
		</tbody>
	</table>
</section>